{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}

{% block meta_title %}{% if person %}{{ person.full_name }}{% else %}{% trans "Person" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}{% if not forloop.first %}, {% endif %}{{ keyword }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ person.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% editable person.title %}{{ person.title }}{% endeditable %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% endblock %}

{% block main %}

<section class="container row">

    <div class="col-md-5 col-md-offset-2" style="line-height: 200%; font-size: 14px;">
        <h4>CONTACT</h4>
        <ul style="list-style-type: none;">
            <li><p><i class="icon-phone-sign icon-large"></i> &nbsp; 电话: {{ about.tel }}</p></li>
            <li><p><i class="icon-comments icon-large"></i> &nbsp; QQ: {{ about.qq }}</p></li>
            <li><p><i class="icon-envelope-alt icon-large"></i> &nbsp; E-mail: {{ about.email }}</p></li>
            <li><p><i class="icon-home icon-large"></i> &nbsp; 地址：武汉市洪山区意大利风情街光谷数码城广场903</p></li>
        </ul>
    </div>
    <div class="col-md-5">
        <iframe width="504" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ about.address }}"></iframe>
    </div>


</section>

{% endblock %}
