{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#main-slider"></li>
            <li data-slide-to="1" data-target="#main-slider" class=""></li>
            <li data-slide-to="2" data-target="#main-slider" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div style="background-image: url(static/images/slider/bg1.jpg)" class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content centered" style="margin-top: 265px;">
                                <h2 class="animation animated-item-1">Powerful and Responsive Web Design</h2>
                                <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div style="background-image: url(static/images/slider/bg2.jpg)" class="item">
               <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                <h2 class="boxed animation animated-item-1">Clean, Crisp, Powerful and Responsive Web Design</h2>
                                <p class="boxed animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <br>
                                <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div style="background-image: url(static/images/slider/bg3.jpg)" class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content centered" style="margin-top: 219px;">
                                <h2 class="animation animated-item-1">Powerful and Responsive Web Design Theme</h2>
                                <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="centered" style="margin-top: 129px;">
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
</section>
<section class="emerald" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-picture icon-md"></i>
                    </div>
                    <div class="media-body" style="font-family: STSong;">
                        <p></p>
                        <p>商业摄影 人像摄影 活动录制 延时摄影</p>
                        <p>影视航拍 包装设计 后期制作 设备租赁</p>
                        <p>用镜头记录色彩 让感动定格瞬间</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-facetime-video icon-md"></i>
                    </div>
                    <div class="media-body" style="font-family: STSong;">
                        <p></p>
                        <p>企业宣传片 城市宣传片 产品宣传片</p>
                        <p>招商宣传片 电视广告片 产品广告片</p>
                        <p>专题纪实片 教育培训片 微电影 纪录片</p>
                        <p>私人影像定制片 特效合成及影视资料管理</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="icon-google-plus icon-md"></i>
                    </div>
                    <div class="media-body" style="font-family: STSong;">
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div>
    </div>
</section>
<section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>我们的项目</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
                <p class="gap"></p>
            </div>
            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a class="preview" title="生命人寿企业形象宣传片" href='<embed src="http://player.youku.com/player.php/sid/XOTE3MTUwNzE2/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' rel="prettyPhoto">
                                                <img class="img-responsive" src="http://r3.ykimg.com/05410508550DACC86A0A4C0465012D5F" alt="" /></a>
                                            <h5>
                                                生命人寿企业形象宣传片
                                            </h5>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a class="preview" title="感动江汉人物评选之贾代腾飞" href='<embed src="http://player.youku.com/player.php/sid/XODg4ODI0NTg0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' rel="prettyPhoto">
                                                <img class="img-responsive" src="http://r1.ykimg.com/05410101550FD8AE6A0A4160A4B41300" alt="" /></a>
                                            <h5>
                                                感动江汉人物评选之贾代腾飞
                                            </h5>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a class="preview" title="感动江汉人物评选之郑小红颁奖" href='<embed src="http://player.youku.com/player.php/sid/XODg4ODE2ODI0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' rel="prettyPhoto">
                                                <img class="img-responsive" src="http://r4.ykimg.com/05410101550FD9716A0A44092B701CB3" alt="" /></a>
                                            <h5>
                                                感动江汉人物评选之郑小红颁奖
                                            </h5>
                                        </div>
                                    </div>
                                </div>                            
                            </div><!--/.row-->
                        </div><!--/.item-->
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a class="preview" title="楚商私董会" href='<embed src="http://player.youku.com/player.php/sid/XODg4MTc5ODA0/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' rel="prettyPhoto">
                                                <img class="img-responsive" src="http://r1.ykimg.com/0541050854D5C25E6A0A4962A73F4856" alt="" /></a>
                                            <h5>
                                                楚商私董会
                                            </h5>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a class="preview" title="东风康明斯" href='<embed src="http://player.youku.com/player.php/sid/XOTE4MzQ3ODQw/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' rel="prettyPhoto">
                                                <img class="img-responsive" src="http://r4.ykimg.com/05410408550FECF56A0A3F04ED08762D" alt="" /></a>
                                            <h5>
                                                东风康明斯
                                            </h5>
                                        </div>
                                    </div>
                                </div>                            
                                <div class="col-xs-4">
                                    <div class="portfolio-item">
                                        <div class="item-inner">
                                            <a class="preview" title="当你走过成片" href='<embed src="http://player.youku.com/player.php/sid/XOTE4MzAyNDM2/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>' rel="prettyPhoto">
                                                <img class="img-responsive" src="http://r4.ykimg.com/05410408550FD9F56A0A4B045EC5EB37" alt="" /></a>
                                            <h5>
                                               当你走过成片 
                                            </h5>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div><!--/.item-->
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
</section><!--/#recent-works-->
<section id="testimonial" class="alizarin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center">
                    <h2>What our clients say</h2>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#testimonial-->


{% endblock %}

