{% load i18n future pages_tags blog_tags keyword_tags mezzanine_tags %}


                <div class="col-md-6 col-sm-6">
                    <h4>关于我们</h4>
                    <p>武汉孟达文化传媒有限公司是一家在舞台艺术创作,实景打造,灯光音响工程,LED大背景屏等艺术创作与硬件设备方面实力雄厚的传媒公司.公司立足武汉,面向全国.公司在影视片制作领域经验丰富,与湖北省广播电视台,武汉多家影视制作机构有良好的合作关系，先后给省内多家大中型企业提供企业形象宣传片、产品推广片、晚会庆典以及画册等相关工作的服务；给省内省外对家政府机构拍摄城市形象宣传片、城市景点旅游片、以及大型文艺晚会活动，得到了社会各界的高度认可！</p>
                </div><!--/.col-md-6-->

              
				<div class="col-md-3 col-sm-6">
                    <h4>Address</h4>
                    <address>
                        <strong>武汉孟达文化传媒</strong><br>
                        武汉市，湖北省，中国<br>
                        光谷数码城广场9楼<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                   
                   
                </div> <!--/.col-md-3-->
<div class="col-md-3 col-sm-6">
		{% block blog_recent_posts %}
			{% blog_recent_posts 5 as recent_posts %}
				{% if recent_posts %}
                    <h4>{% trans "Recent Posts" %}</h4>
                    <div>
						{% for recent_post in recent_posts %}
                        <div class="media">
                            <div class="pull-left">
								{% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
								
								<a href="{{ blog_post.get_absolute_url }}">
									<img width="100%" class="img-responsive img-blog" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 90 90 %}">
								</a>
									
								{% endif %}
                                
                            </div>
                            <div class="media-body">
                                <span class="media-heading"><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></span>
                                <small class="muted">{% blocktrans with sometime=recent_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</small>
                            </div>
                        </div>
                     
                    </div>  
                    {% endfor %}
              
                {% endif %}
{% endblock %}
</div>
